$grey: #6c757d;
$dark: #343a40;
body {
  min-height: 100vh;
}

// ****************************************************
// ****************************************************
//                          Header
// ****************************************************
// ****************************************************

#header {
  h1 {
    margin-bottom: 3rem;
    font-weight: 600;
  }

  #header-about {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    p {
      color: $grey;
      margin-bottom: 0
    }

    .author-picture {
      margin-right: 0.5rem;
      border-radius: 50%;
    }
  }
}

// ****************************************************
// ****************************************************
//                          Posts
// ****************************************************
// ****************************************************

#ui-posts-selector {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  div {
    a {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

#posts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  .col-md-6 {
    .post-date {
      color: $grey;
    }

    a {
      color: $dark;
    }
  }
}

// ****************************************************
// ****************************************************
//                          Footer
// ****************************************************
// ****************************************************

#footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  #footer-socials {
    a {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
